@import "../app.component.scss";

.container {
    display: flex;
    justify-content: center;
    background-color: black;
    #carouselExample {
        margin-top: 50px;
        width: 100%;
        height: 500px;
       img {
        width: 100%;
        height: 500px;
       }
    }
}