@import "../app.component.scss";

.container {
    display: flex;
    justify-content: center;
    #carouselExample {
        margin-top: 50px;
        width: 100%;
        height: 500px;
       img {
        width: 100%;
        height: 500px;
       }
       span {
        border: 5px solid rgb(10, 10, 12);
        border-radius: 80px;
        padding: 25px;
       }
    }
}