@import "../app.component.scss";

.container {
    width: 1140px;
    display: block;
    margin: auto;
    min-height: calc(100vh - 224px); 
    h2 {
        color: #29c6ed;
        font-size: 40px;
        padding: 40px 0px 30px 0px;
        font-family: $fonte-principal;
        line-height: $extra-grande;
    }
    .product-details {
        display: flex;
        gap: 30px;
        img {
            width: 100%;
        }
        .product-description {
            width: 100%;
            p {
                margin-top: 30px;
                font-family: $fonte-principal;
                color: $branco;
                font-size: $media;
                line-height: $grande;
            }
        }
    }
}